{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
	<h1>Getting Started with PHP on Heroku</h1>
	
	{% for question in questions %}
		<li>
		   In the {{question.question}},  {{question.indexOfCorrectAnswer}} by {{question.questionAuthor}}
		</li>
    	{% endfor %}
	<a href="/" class="lang-logo">
     		<img src="/images/lang-logo.png">
    	</a>
      </div>
</div>

{% endblock %}
