{% extends "layout.html" %}

{% block content %}
<div id="wrapper">
    <h2>Welcome to our Quiz</h2>
    <form action="" method="POST">
      <input type="hidden" id="questionNumber" name="questionNumber" value="0">
      <input type="submit" name="startBtn" id="startBtn" value="Start!">
    </form>
  </div>
  <script type="text/javascript" src="../main.js"></script>

{% endblock %}
